
#boarderheader {
    position: absolute;
    background-color: #909090;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 150px;
    box-shadow: 10px 10px 5px black;
}
#mag {

    position: absolute;
    right: 30px;
    bottom: -20px;;

}

#lookbox {
    border: 5px solid red;
    border-radius: 10px;
}

#boaderbottom {

    position: relative;
    top: 220px;
    padding: 20px;
    width: 100%;
    height: 400px;
}
#refresh {

    position: absolute;
    top: 15px;
    right: 10px;
}

#dayof42 {
    position: absolute;
    left:10;
    bottom: 4;
}

.cross {

    position: absolute;
    bottom: 15px;
    right: 10px;
}

#page {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}
#cluster {
    position: absolute;
    left: 7px;
}

.arrow {
    position: relative;
    bottom: 3px;
    left: 3%;
}

#wall {
    background-image: url("resources/brick.jpg");
    background-repeat: repeat;
    height: 70px;
    width: 90%;
    position: absolute;
    left: 5%;




}

#boarderleft {
    position: absolute;
    left: 5%;
    top: 0;
    background-color: #909090;
    border-radius: 10px;
    padding: 20px;
    width: 7%;
    height: 500px;
    box-shadow: 10px 10px 5px black;

}

#redtxt {
    text-shadow: 3px 3px 2px rgba(200, 0, 0 ,0.8);
}

#boarderright {
    position: absolute;
    left: 87%;
    top: 0;
    background-color: #909090;
    border-radius: 10px;
    padding: 20px;
    width: 7%;
    height: 500px;
    box-shadow: 10px 10px 5px black;

}

#boardercentre
{
    position: absolute;
    left: 17%;
    top: 0;
    background-color: #909090;
    border-radius: 10px;
    padding: 20px;
    width: 65%;
    height: 570px;
    box-shadow: 10px 10px 5px black;

}

#bottombox {

    position: absolute;
    left: 5%;
    top: 580;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    height: 100px;
    box-shadow: 10px 10px 5px black;
}
